.header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.header h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-image: url("/images/green-banner.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 110%;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding-right: 32px;
    justify-content: center;
    flex: 2;
    text-align: center;
}

.header ul .country {
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9rem;
    border: 1px solid #d4af37;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    background-image: url("/images/button-bg.png");
}

.header ul .country:hover{
    box-shadow: inset 0 0 5px #ff0000;
}

.header .left-menu {
    margin-left: auto;
}

.header .left-menu button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.header .left-menu button:hover{
    background-color: #0056b3;
}